{% extends 'base.html'%}
{% load static %}
{%block content%}


    <!--Content before waves-->
    <div class="inner-header flex">
   <!--log in-->
   <center>
    
      <div class="banner">
        <h1>WELCOME TO CHRIST COURIER CONNECT</h1>
        <h2>At the heart of Christ Courier Connect is a commitment to enhancing the overall experience for students, faculty, and staff by providing a reliable and secure courier service. Our mission is to streamline the logistics of document and package deliveries, ensuring a swift and hassle-free process</h2>
        <h3>SERVICE WITH EXCELLENCE</h3>
      </div>
  </center>
  <!-- login ends -->
    </div>
    
    <!--Waves Container-->
    <div>
       
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    
    </div>
  </div>
    <!-- About us-->
    <div class="about" id="about">
        <h1 style="font-weight: bolder;">Our Mission</h1>
        <p>At the heart of Christ Courier Connect is a commitment to enhancing the overall experience for students, faculty, and staff by providing a reliable and secure courier service. Our mission is to streamline the logistics of document and package deliveries, ensuring a swift and hassle-free process.</p>
      </div>  
{% endblock content %}
     