{% extends 'base.html' %}

{% load static %}

  {% block content%}

    <!--Content before waves-->
    <div class="inner-header flex">
   <!--Track Order-->
   <center>
    <div class="container">
      <div class="banner">
        {% comment %} <button type="submit" style="margin-top: 50;"><a href="{% url 'dashboard'%}">MY PROFILE </button> {% endcomment %}
        {% comment %} <h3>Here's the information, about your company, product, I don't know.</h3>
        <h3>Feel free!</h3> {% endcomment %}
      </div>
      <div class="form">
        <img src="https://i.pinimg.com/236x/4d/a8/bb/4da8bb993057c69a85b9b6f2775c9df2.jpg" alt="profile" width="70" style="margin-top: 50;">
        <input type="text" autocomplete placeholder="Registration Number"  style="margin-top: 50;">
        <button type="submit" style="margin-top: 50;"><a href="{% url 'dashboard'%}">MY PROFILE </button>

      </div>

    </div>
  </center>
  <!-- Track order from ends -->
    </div>
    
    <!--Waves Container-->
    <div>
       
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    
    </div>
  </div>
{% endblock content%}

      